# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# preferences
/.vscode

# next.js
/.next/
/out/

# images
#/public/images
#/public/uploads

# production
/build

#Old or Cleanup Folder
/.archivedStuff
/tools

# misc
.DS_Store
*.pem

# special Luke files
/tools

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ingestion.log

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
